{% if billing_address.name %}
<p>Dobrý den {{ billing_address.name }},</p>
<p></p>
{% endif %}
<p>{% if fulfillment.item_count == item_count %}Všechny{% elsif fulfillment_status == 'fulfilled' %}Poslední{% else %}Některé{% endif %} předměty v objednávce {{ name }} byly odeslány:</p>
<p>{% for line in fulfillment.fulfillment_line_items %}<img src="{{ line.line_item | img_url: 'small' }}" />{{ line.quantity }}x {{ line.line_item.title }}<br>
{% endfor %}</p>
<p>{% if requires_shipping %}Byly odeslány {% if fulfillment.tracking_company %}pomocí {{ fulfillment.tracking_company }} {% endif %}na adresu: </p>

<p>{{ shipping_address.name }}<br />
{{ shipping_address.street }}<br />
{{ shipping_address.city }}<br />
{{ shipping_address.province }}
{{ shipping_address.zip }}<br />
{{ shipping_address.country }}</p>

{% if fulfillment.tracking_numbers.size > 0 %}
{% if fulfillment.tracking_numbers.size == 1 %}
<p>Číslo pro sledování objednávky je: {{ fulfillment.tracking_numbers.first }}. <a href="{{ fulfillment.tracking_urls.first }}">Klikněte zde pro sledování objednávky.</a></p>
{% else %}
<p>Čísla pro sledování objednávky</p>
<p>{% for tracking_number in fulfillment.tracking_numbers %} {{ tracking_number }}<br>{% endfor %}</p>

<p>Klikněte zde pro sledování přemětu objednávky</p>
<p>{% for tracking_url in fulfillment.tracking_urls %} <a href="{{ tracking_url }}">{{ tracking_url }}</a><br>{% endfor %}</p>
{% endif %}

{% endif %}{% endif %}{% if fulfillment_status != 'fulfilled' %}
<p>Obdržtítě další email po odeslaní další části objednávky.</p>
{% endif %}

<p>Děkujeme za nákup {{ shop_name }}!</p>
