{% if billing_address.name %}
<p>Dobrý den {{ billing_address.name }}, </p>
<p></p>
{% endif %}

<p>vaše objednávka {{ name }} byla zrušena {% case cancel_reason %}{% when 'customer' %}na vaší žádost.{% when 'inventory' %}z důvodu nedostatku zboží{% when 'fraud' %}z důvodu podezření z podpovdu{% when 'other' %}v důsledku nepředvídaných okolností.{% endcase %}</p>

<p></p>
<p>{% if financial_status == 'voided' %}Vaše platba byla neplatná.{% elsif financial_status == 'credited' %}Vaše platba byla navrácena.{% endif %}</p>

<p>Prosím, odpovězte na tento e-mail, pokud máte nějaké dotazy nebo připomínky.</p>

<p>S pozdravem,</p>
<p> {{shop_name}}</p>
